body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans", Arial, sans-serif;
  background-color: #ffffff;
}
.flex-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

}
.flex-container div{
  width: 220px;
  height: 145px;
  margin: 20px;
  padding: 10px;
}

.buttom {
  font: inherit;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
}



}

a {
  text-decoration: none;
}
/*header*/

.section-1{
  margin: auto;
  background-color: #293449;
  width: 1200px;
  height: 42px;
}

.section-2{
  margin: auto;
  width: 1200px;
  height: 320px;
  background-color: #f4f7f9;
}

.main{
  margin: auto;
  width: 1200px;
  background-color: #ffffff;
}

header ul{
  margin: auto;
}


header ul li{
  display: block;
  float: left;
  margin: auto 40px;

}


.logo{
  width: 220px;
  height: 47px;
  background-color: #ee3643;
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
  float: left;
  display: block;
}


.popular-brands-item {

  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 145px;
  margin-bottom: 20px;
  border: 1px solid #eaeaea;
}

.border{
  text-align: center;
  width: 220px;
  height: 145px;
  border: solid 1px #eaeaea;
  background-color: #ffffff;
}

.fig1{
  width: 300px;
  height: 123px;
  background-color: #ffbf47;
}

.img-icon{
  vertical-align: center;
}

.bg{
  background-color: #f4f7f9;
}

.s-nv {
  box-shadow: inset 0px -5px 0 0 #293449;
  background-color: #32425c;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.logo-back {
  width: 220px;
  height: 47px;
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
  background-color: #ee3643;
}


/* footer */
.service-back {
  margin: auto;
  width: 1200px;
  height: 522px;
  background-color: #f4f7f9;
}

.service-back-2 {
  margin: auto;
  width: 1200px;
  height: 261px;
  background-color: #f4f7f9;
}

.footer-1{
  margin: auto;
  width: 1200px;
  height: 300px;
  background-color: #32425c;
}

.footer-2{
  margin: auto;
  width: 1200px;
  height: 107px;
  background-color: #293449;
}

.section-3{
  margin: auto;
  width: 940px;
  height: 60px;
  box-shadow: inset 0px -5px 0 0 #293449;
  background-color: #32425c;
}


